name: tests
on:
  push:
permissions:
  contents: none
jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: '1.20.5'
          check-latest: true
      - name: go test
        env:
          GO111MODULE: 'on'
        run: go test
